body {
    margin: auto;
    padding: auto;
    font-family: cursive;    
}

#root {
    width: 600px;
    margin: 50px auto 0px auto;
} 

.addTodo {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 14px;
  height: auto;
}

.filter-button {
  margin-right: 2px;
}

.toggleAll-button {
  float: right;
}
.todo-list-item {
    cursor: pointer;          
    margin-top: 2px;
    margin-bottom: 2px;
    display: inline-block;
    display: table;
    height: auto;
    width: 450px;           
}
.todo-list-item label{
    cursor: pointer;    
    font-family: cursive;
    font-size: 14px;
    width: 450px;    
    display:table-cell;
    vertical-align: middle;    
}

.todo-list-item i {
  cursor: pointer;   
  margin-right: 2px;   
  opacity:0.5;
}

.todo-list-item i:hover {  
  opacity:1.0;
}
